<!DOCTYPE html>
<html lang="pt-Br">
<head>
     <!-- Site Title-->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="img/foto para navbar.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,400italic%7CJosefin+Sans:400,700,300italic">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="img/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
    <title>Nefrologia Veterinária Salvador</title>
</head>
<body>
    <!-- Page header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="5px" data-lg-stick-up-offset="5px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="/">
                      <div class="brand__name"><img class="brand__logo-dark" src="img/foto para navbar (1).png" alt="" width="243" height="57"/><img class="brand__logo-light" src="img/foto para navbar (1).png" alt="" width="243" height="57"/> <h3 class="collapse navbar-collapse">Nefro Vet Salvador</h3>
                      </div></a></div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-element">
                    <ul class="list-icons list-inline-sm">
                      <li><a class="icon icon-sm fa fa-instagram icon-style-camera" href="https://www.instagram.com/nefrovet_salvador/" target="_blank"><span></span><span></span><span></span><span></span></a></li>
                      <li><a class="icon icon-sm fa fa-whatsapp icon-style-camera" href="https://api.whatsapp.com/send/?phone=5571992136767" target="_blank"><span></span><span></span><span></span><span></span></a></li>
                     
                    </ul>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="/">Início</a>
                    </li>
                    <li><a href="/sobremim">Sobre Mim</a>
                    </li>
                    <li><a href="/servicosnefro">Serviços Nefro</a>
                    </li>
                    <li><a href="/contato">Contato</a>
                    </li>
                    </li>
                    <li><a href="/dogbreeds">Sobre Dogs</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>

    {{{body}}}

    <!-- Page Footer-->
      <footer class="footer-centered section bg-primary text-dark">
        <div class="shell">
          <div class="range range-sm-center">
            <div class="cell-sm-10 cell-md-8 cell-lg-6">
              <!-- Brand--><a class="brand" href="/">
                <div class="brand__name"><img src="/img/foto para o footer.png" alt="" width="243" height="243"/>
                </div></a>
              <ul class="list-icons list-inline-sm text-white">
                <li><a class="icon icon-sm fa fa-instagram icon-style-camera" href="https://www.instagram.com/nefrovet_salvador/" target="_blank"><span></span><span></span><span></span><span></span></a></li>
                <li><a class="icon icon-sm fa fa-whatsapp icon-style-camera" href="https://api.whatsapp.com/send/?phone=5571992136767" target="_blank"><span></span><span></span><span></span><span></span></a></li>
              </ul>
              <p class="rights "><span>&copy;&nbsp;</span><span class="copyright-year"></span>. Feito por: Ielber Pellegrini</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by starlight-->
</body>
</html>