<section class="section section-md bg-white">
  <div class="shell">
    <div class="range range-50 range-sm-center range-md-left">
      <div class="cell-sm-6 cell-md-5">
        <div class="thumb-bordered"><img
            src="/img/foto2 blog 437 x 435.png"
            alt=""
            width="437"
            height="435"
          />
        </div>
      </div>
      <div class="cell-sm-6 cell-md-7">
        <div class="box-width-3 box-centered">
          <article class="quote-big">
            <p class="q" style="color: black; font-weight: 600;">Tratamento da
              Doença Renal Crônica:</p>
          </article>
          <div class="divider"></div>
          <p class="text-spacing-05" style="color: black;">É comum o clínico
            geral detectar alterações nos exames laboratoriais e diagnosticar a
            famosa doença renal crônica.</p>

          <p class="text-spacing-05" style="color: black;">Dessa primeira fase
            decorrem alguns problemas :</p>

          <p class="text-spacing-05" style="color: black;">O diagnóstico nem
            sempre é tão bem definido assim e as características individuais
            desse paciente não são identificadas</p>

          <p class="text-spacing-05" style="color: black;">O manejo desse
            paciente parece seguir uma receita de bolo, onde não encontra, não
            trata e não monitora problemas reais que aparecem com a
            descompensação da doença crônica.</p>

          <p class="text-spacing-05" style="color: black;">E aí, dessa receita
            de bolo te orientam a fazer fluido subcutânea dia sim, dia não, te
            indicam ômega e as vezes aquele spray ou bolinhas homeopáticas como
            se isso fosse resolver toda a vida do paciente.</p>

          <p class="text-spacing-05" style="color: black;">Acompanhar um
            paciente crônico vai muito além disso.</p>

          <p class="text-spacing-05" style="color: black;">Se liga nesse post e
            olha o mundo de detalhes que não podem ser esquecidos no manejo
            desse paciente.</p>

          <p class="text-spacing-05" style="color: black;">Um veterinário
            experiente é o mais apto para assumir tantos desafios que cercam a
            doença renal.</p>

          <p class="text-spacing-05" style="color: black;">Por isso é importante
            saber quais pontos são importantes para oferecer melhor
            acompanhamento para esse paciente, se liga:</p>

          <p class="text-spacing-05" style="color: black;"><strong
            >ESTADIAMENTO:</strong>
            É o primeiro passo para começar a abordar esse paciente. Isso
            significa definir em que fase da doença o animal foi diagnosticado.
            Para isso precisamos de alguns exames como</p>
          <br />
          <ul
            class="text-spacing-05"
            style="color: black; display: flex; align-items: flex-start; flex-direction: column;"
          >
            <li class="text-spacing-05" style="color: black;">
              <strong>Valor da creatinina</strong>
            </li>
            <li class="text-spacing-05" style="color: black;"><strong
              >SDMA</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>Presença
                de Proteinúria Renal - RPC</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>Pressão
                arterials</strong></li>
          </ul>
          <br />
          <p class="text-spacing-05" style="color: black;">De acordo com os
            achados o paciente pode ser classificado em Estágio I, II, III ou IV
            segundo a IRIS.</p>

          <p class="text-spacing-05" style="color: black;"><strong>Exames
              complementares importantes que podem ser necessários:</strong>
            Esses exames tem o objetivo de identificar alterações estruturais,
            histológicas, metabólicas e hematológicas.</p>

          <br />
          <ul
            class="text-spacing-05"
            style="color: black; display: flex; align-items: flex-start; flex-direction: column;"
          >
            <li class="text-spacing-05" style="color: black;">
              <strong>hemograma</strong>
            </li>
            <li class="text-spacing-05" style="color: black;"><strong
              >ultrassonografia</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>sumário de
                urina</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >fósforo</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >potássio</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >sódio</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >cálcio</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >gasometria</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>biópsia
                renal</strong></li>
          </ul>
          <br />
          <p class="text-spacing-05" style="color: black;"><strong>A indicação
              destes exames depende de cada paciente.</strong>
            A identificação de alterações guiam o raciocínio para implementar
            terapias necessárias para melhorar estado clínico.</p>

          <p class="text-spacing-05" style="color: black;"><strong>Exame físico
              e achados a tratar e monitorar</strong></p>

          <br />
          <ul
            class="text-spacing-05"
            style="color: black; display: flex; align-items: flex-start; flex-direction: column;"
          >
            <li class="text-spacing-05" style="color: black;">
              <strong>Condição de hidratação</strong>
            </li>
            <li class="text-spacing-05" style="color: black;"><strong>Escore
                corporal
              </strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>Presença
                de dor e lesões em cavidade oral
              </strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>Controle
                de gastrite, vômito e naúseas
              </strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>Regulação
                do apetite
              </strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >Ipertensão</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>Avaliar
                tratamento da proteinúria</strong></li>
          </ul>
          <br />

          <p class="text-spacing-05" style="color: black;">As terapias precisam
            ser individualizadas para atender de forma específica cada paciente.</p>

          <p class="text-spacing-05" style="color: black;"><strong>Identificar
              fatores adicionais que contribuem para progressão</strong></p>

          <br />
          <ul
            class="text-spacing-05"
            style="color: black; display: flex; align-items: flex-start; flex-direction: column;"
          >
            <li class="text-spacing-05" style="color: black;">
              <strong>Retirada ou ajuste de drogas com potencial nefrotóxico
              </strong>
            </li>
            <li class="text-spacing-05" style="color: black;">
              <strong>Diagnóstico e monitoramento de patologias que podem afetar
                o rim</strong>
            </li>
            <li class="text-spacing-05" style="color: black;"><strong>Avaliar
                dieta e proceder com ajustes</strong>
            </li>
          </ul>
          <br />

          <p class="text-spacing-05" style="color: black;">Não existe uma
            receita de bolo! Não se “trata” doença renal com fluido, suplemento
            e homeopático!</p>

          <p class="text-spacing-05" style="color: black;">Cada paciente é
            único!</p>

          <p class="text-spacing-05" style="color: black;">a regra é clara:
            entender a progressão da doença, identificar, manejar e monitorar
            suas consequências!</p>
        </div>
      </div>
    </div>
  </div>
</section>