<section class="section section-md bg-white">
  <div class="shell">
    <div class="range range-50 range-sm-center range-md-left">
      <div class="cell-sm-6 cell-md-5">
        <div class="thumb-bordered"><img
            src="/img/foto3 blog 437 x 435.png"
            alt=""
            width="437"
            height="435"
          />
        </div>
      </div>
      <div class="cell-sm-6 cell-md-7">
        <div class="box-width-3 box-centered">
          <article class="quote-big">
            <p class="q" style="color: black; font-weight: 600;">Como monitorar
              o rim de forma precoce em cães e gatos:</p>
          </article>
          <div class="divider"></div>
          <p class="text-spacing-05" style="color: black;">Você já deve ter
            levado seu Pet ao veterinário e ouvido falar sobre avaliar a função
            renal.</p>

          <p class="text-spacing-05" style="color: black;">Daí se fez uma coleta
            de sangue e saiu como resultado valores de uréia e creatinina
            NORMAIS e se deu por suficiente essa triagem!! Será?
          </p>

          <p class="text-spacing-05" style="color: black;">A uréia e creatinina
            são apenas alguns parâmetros a se avaliar em um paciente para
            entender como anda a função desse RIM. E vou explicar abaixo alguns
            motivos para fazer uma triagem mais completa:</p>

          <p class="text-spacing-05" style="color: black;"><strong>A uréia e
              creatinina estarão alteradas quando tivermos no mínimo 75% da
              função renal deteriorada. Isso quer dizer que pacientes que já tem
              alterações menores não vão alterar ureia e creatinina tão cedo. E
              sabemos que quanto antes detectamos melhor, né?</strong></p>

          <p class="text-spacing-05" style="color: black;"><strong>Avaliar
              rotineiramente com exames mais completos faz que com tenhamos
              parâmetros de comparação ao longo da vida desse paciente e ao
              mínimo sinal de mudança podemos prever que já existe algo
              acontecendo.</strong></p>

          <p class="text-spacing-05" style="color: black;"><strong>Outras
              doenças podem levar a alterações sistêmicas que podem ser gatilhos
              para início de um problema renal. Por exemplo: doenças que levam
              ao aparecimento de hipertensão podem contribuir para ganhar uma
              doença renal de bônus. Então estar atento à parâmetros mais
              completos nos deixa com bagagem para olhar aquele paciente de uma
              forma mais global e segura!</strong></p>

          <p class="text-spacing-05" style="color: black;"><strong>E aí??
              Prontos para sair do feijão com arroz e pedir uma triagem mais
              completa do seu filho de 4 patas!!?</strong>
          </p>

          <p class="text-spacing-05" style="color: black;"><strong>Entre os
              itens dessa triagem complementar podemos listar:</strong>
          </p>

          <br />
          <ul
            class="text-spacing-05"
            style="color: black; display: flex; align-items: flex-start; flex-direction: column;"
          >
            <li class="text-spacing-05" style="color: black;">
              <strong>Mensuração da pressão arterial</strong>
            </li>
            <li class="text-spacing-05" style="color: black;"><strong
              >SDMA</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>Exame de
                Urina com Relação proteína-creatinina urinária</strong>
            </li>
            <li class="text-spacing-05" style="color: black;"><strong
              >Ultrassonografia de abdomen</strong>
            </li>
          </ul>
          <p class="text-spacing-05" style="color: black;"><strong>Gostou das dicas?</p>
          <p class="text-spacing-05" style="color: black;">Então compartilha essas informações com alguém que ame seu pet!</p>
        </div>
      </div>
    </div>
  </div>
</section>