<section class="section section-md bg-white">
  <div class="shell">
    <div class="range range-50 range-sm-center range-md-left">
      <div class="cell-sm-6 cell-md-5">
        <div class="thumb-bordered"><img
            src="/img/foto1 blog 437 x 435.png"
            alt=""
            width="437"
            height="435"
          />
        </div>
      </div>
      <div class="cell-sm-6 cell-md-7">
        <div class="box-width-3 box-centered">
          <article class="quote-big">
            <p class="q" style="color: black; font-weight: 600;">Como os rins
              podem sofrer lesão ao longo da vida:</p>
          </article>
          <div class="divider"></div>
          <p class="text-spacing-05" style="color: black;">A doença renal
            crônica (DRC) não surge do “nada”. Pequenos eventos ao longo da vida
            vão comprometendo a função dos rins promovendo danos futuros
            irreversíveis. A IRA (injúria renal aguda) ou Lesão Renal Aguda é a
            grande vilã desse processo.</p>
          <p class="text-spacing-05" style="color: black;">E o mais perigoso!!
            Ela pode ocorrer de forma bem silenciosa ao longo da vida!</p>
          <p class="text-spacing-05" style="color: black;">A proteção do rim e
            seu monitoramento constante é fundamental para uma vida longa e com
            poucas repercussões à nível renal!</p>
          <p class="text-spacing-05" style="color: black;">Confere abaixo os
            principais eventos de Lesão Aguda Renal silenciosa, que podem
            contribuir para um rim insuficiente crônico no futuro!!</p>
          <p class="text-spacing-05" style="color: black;"><strong
            >DESIDRATAÇÃO:</strong>
            Aqueles pequenos episódios de vômito e diarréia inocentes podem
            levar a condições de desidratação momentânea que afetam a função dos
            rins. Essa situação ocorrendo várias vezes ao longo da vida podem,
            em seu somatório final, ser um dos fatores que contribuem para perda
            progressiva da função renal.</p>
          <p class="text-spacing-05" style="color: black;"><strong>TRATAR
              INFLAMAÇÃO E DOR</strong>
            Aqui vai um alerta para os pacientes ortopédicos ou com condições
            crônicas que precisem de controle dor. O uso sem monitoração de
            antiinflamatórios pode contribuir para lesão renal aguda e ao logo
            da vida diminuir a função renal. Esteja sempre em conversa com
            veterinários atualizados para ver todas as opções de tratamento
            dessas condições.</p>
          <p class="text-spacing-05" style="color: black;"><strong>MEDICAÇÕES
              NEFROTÓXICAS:</strong>
            Os antiinflamatórios não são os únicos vilões. O uso de alguns
            medicamentos com potencial nefrotóxico sem cautela e monitoramento
            podem lesionar o rim de forma gradativa ao longo da vida.</p>
          <p class="text-spacing-05" style="color: black;">Entre estes estão:</p>
          <br />
          <ul
            class="text-spacing-05"
            style="color: black; display: flex; align-items: flex-start; flex-direction: column;"
          >
            <li class="text-spacing-05" style="color: black;">
              <strong>Antibióticos</strong>
            </li>
            <li class="text-spacing-05" style="color: black;"><strong
              >Quimioterápicos</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >Analgésicos</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong>Contrastes
                para exames</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >Antihipertensivos</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >Gastroprotetores</strong></li>
            <li class="text-spacing-05" style="color: black;"><strong
              >Diuréticos</strong></li>
          </ul>
          <p class="text-spacing-05" style="color: black;"><strong>MEDICAÇÕES
              NEFROTÓXICAS:</strong>
            Todo paciente pode e deve ser operado, observando sempre boas
            condições de monitoração. Picos de hipotensão durante a anestesia
            podem ser o desencadeador de lesões agudas a nível renal. Agora
            imagine pacientes que podem passar por algumas cirurgias ao longo da
            vida. Esse somatório pode ser chave para um rim insuficiente no
            futuro.</p>
          <p class="text-spacing-05" style="color: black;">Diante de tudo isso é
            nossa função proteger os rins com unhas e dentes para diminuir
            chances de uma doença crônica no futuro.</p>
        </div>
      </div>
    </div>
  </div>
</section>