<section class="section section-md bg-white text-center">
        <div class="shell">
          <div class="range range-50">
            <div>
                <img src="img/logo alongada.png" alt="" style="margin-top: 50px;">
                  <h4>Atendimento clínico com foco em Nefrologia e Urologia veterinária <br>em Salvador e Região Metropolitana</h4>
              <ul class="list-xl">
                <li>
                  <br>
                  <h1>Porque cuidar da saúde urinária de cães e gatos?</h1>
                  <h4>As doenças das vias urinárias, especialmente os rins, estão entre as campeãs nos pacientes idosos e podem comprometer a longevidade e qualidade de vida desses animais. Diagnóstico precoce e manejo adequado dessas alterações são peças fundamentais para garantir mais tempo de vida à quem tanto você ama!</h4>
                  <br>
                  <div class="botaoAgende">
                  <a href="https://api.whatsapp.com/send/?phone=5571992136767" target="_blank"><button alt="Agende já">
  <i>A</i>  <i>G</i>  <i>E</i>  <i>N</i>  <i>D</i>  <i>E</i>  <i>&nbsp;</i>  <i>J</i>  <i>Á</i>
</button></a>
</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
</section>          
<!-- My Best Photos-->
      <section class="section bg-white text-center">
        <!-- Slick Carousel-->
        <div class="slick-wrap">
          <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="false" data-loop="true" data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="img/corrossel1.png" data-lightgallery="item"><img class="thumb-ann__image" src="img/corrossel1.png" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">Atendimento Personalizado</p>
                      <p class="thumb-ann__text">Personalização do atendimento para que seu pet venha em 1° Lugar!!</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="img/corrossel2.png" data-lightgallery="item"><img class="thumb-ann__image" src="img/corrossel2.png" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">Consultas Diferenciadas</p>
                      <p class="thumb-ann__text">Nossas consultas são marcadas de acordo com a necessidade dos pets e dos clientes</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="img/corrossel3.png" data-lightgallery="item"><img class="thumb-ann__image" src="img/corrossel3.png" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">Acompanhamento Personalizado</p>
                      <p class="thumb-ann__text">Controle transparente de tudo o que seu pet fez e necessita pra ficar 100%</p>
                    </div></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="slick-slide-inner">
                <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="img/corrossel4.png" data-lightgallery="item"><img class="thumb-ann__image" src="img/corrossel4.png" alt="" width="961" height="664"/>
                    <div class="thumb-ann__caption"> 
                      <p class="thumb-ann__title heading-3">Requisição de exames complementares</p>
                      <p class="thumb-ann__text">Através do atendimento, fazemos requisições laboratoiais para verificar a saúde do seu pet</p>
                    </div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Blog-->
      <section class="section section-md bg-gray-lighter text-center">
        <div class="shell">
          <p class="heading-1">Blog</p>
          <div class="range range-30">
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall">
              <!-- Post boxed-->
              <article class="post-boxed">
                <ul class="post-boxed__meta">
                  <li><a href="/blog1"><img src="img/foto1 blog 437 x 435.png"></a></li>
                </ul>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title" style="text-align: center;"><a href="/blog1">Como os rins podem sofrer lesão ao longo da vida</a></h3>
                  <p style="color: black; text-align: center;">A doença renal crônica (DRC) não surge do “nada”. Pequenos eventos ao longo da vida vão comprometendo a função dos rins promovendo danos futuros irreversíveis.A…</p>
                </div>
                <div class="post-boxed__aside">
                  <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                    <div class="unit__left"><img class="post-boxed__avatar" src="img/foto 437 x 435.png" alt="" width="46" height="46"/>
                    </div>
                    <div class="unit__body">
                      <h6 class="text-uppercase">Por Renata Albuquerque</h6>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay=".15s">
              <!-- Post boxed-->
              <article class="post-boxed">
                <ul class="post-boxed__meta">
                  <li><a href="/blog2"><img src="img/foto2 blog 437 x 435.png"></a></li>
                </ul>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title" style="text-align: center;"><a href="blog2">Tratamento da Doença Renal Crônica</a></h3>
                  <p style="color: black; text-align: center;">É comum o clínico geral detectar alterações nos exames laboratoriais e diagnosticar a famosa doença renal crônica. Dessa primeira fase decorrem alguns problemas :1) O…</p>
                </div>
                <div class="post-boxed__aside">
                  <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                    <div class="unit__left"><img class="post-boxed__avatar" src="img/foto 437 x 435.png" alt="" width="46" height="46"/>
                    </div>
                    <div class="unit__body">
                      <h6 class="text-uppercase">Por Renata Albuquerque</h6>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay=".3s">
              <!-- Post boxed-->
              <article class="post-boxed">
                <ul class="post-boxed__meta">
                  <li><a href="/blog3"><img src="img/foto3 blog 437 x 435.png"></a></li>
                </ul>
                <div class="post-boxed__main">
                  <h3 class="post-boxed__title" style="text-align: center;"><a href="/blog3"></a>Como monitorar precocemente o rim de cães e gatos</h3>
                  <p style="text-align: center; color: black;">Você já deve ter levado seu Pet ao veterinário e ouvido falar sobre avaliar a função renal. Daí se fez uma coleta de sangue e saiu como resultado valores de uréia e creatinina…</p>
                </div>
                <div class="post-boxed__aside">
                  <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                    <div class="unit__left"><img class="post-boxed__avatar" src="img/foto 437 x 435.png" alt="" width="46" height="46"/>
                    </div>
                    <div class="unit__body">
                      <h6 class="text-uppercase">Por Renata Albuquerque</h6>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>