<h1>Login</h1>
<div style="display:flex; justify-content: center; align-items: center; flex-direction: column; color: black; margin: 20px;">
    <form action="/login" method="POST" style="color: black;">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required style="color: black;"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required style="color: black;"><br>
        <button type="submit" style="display: flex; justify-content: center; align-items: center; margin: 20px;">Login</button>
    </form>
</div>