<!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image" style="margin-top: 50px; background-image: url(img/Foto\ 1920x301.png);" ">
        <div class="shell">
          <h1 class="breadcrumbs-custom__title" style="background-color: rgba(0, 0, 0, 0.13);">Serviços Prestados</h1>
        </div>
      </section>

  <container style="display: flex; align-items: center; flex-direction: column; justify-content: center; margin-bottom: 30px;">
      <!-- Image Centered-->
      <section class="section section-md bg-white">
        <div class="shell">
          <div class="range">
            <div class="cell-md-30 cell-lg-30">
              <h2 style="text-align: center;">Nossos Serviços</h2>
              <a href="https://api.whatsapp.com/send/?phone=5571992136767" target="_blank"><figure class="figure-light"><img class="img-centered" src="img/servicos.png" alt="" width="770" height="485"/></a>
                <figcaption>
                </figcaption>
              </figure>
              <h2 style="color: black; text-align: center;">Venha agendar agora sua Consulta, Avaliação Geriátrica, Exames Complementares ou Encaminhamento Para Terapias Complementares Agora!</h2>
            </div>
          </div>
        </div>
      </section>

      <section style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
              <h2 style="color: black; text-align: center;">Clique aqui em baixo e agende a sua consulta!</h2>
              <img src="/img/3 setas pra baixo.gif" >
              <div class="botaoAgende">
                  <a href="https://api.whatsapp.com/send/?phone=5571992136767" target="_blank"><button alt="Agende já">
  <i>A</i>  <i>G</i>  <i>E</i>  <i>N</i>  <i>D</i>  <i>E</i>  <i>&nbsp;</i>  <i>J</i>  <i>Á</i>
</button></a>

</div>
      </section>

      {{!-- <!-- Image Left-->
      <section class="section section-md bg-white">
        <div class="shell">
          <div class="range">
            <div class="cell-md-10 cell-lg-8">
              <h2>Image Left</h2>
              <p><img src="images/typography-1-770x485.jpg" alt="" width="770" height="485"/>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Image Right-->
      <section class="section section-md bg-white">
        <div class="shell">
          <div class="range">
            <div class="cell-md-10 cell-lg-8">
              <h2>Image Right</h2>
              <p><img class="img-right" src="images/typography-1-770x485.jpg" alt="" width="770" height="485"/>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              </p>
            </div>
          </div>
        </div>
      </section> --}}
  </container>