<!-- Breadcrumbs-->
<section
  class="breadcrumbs-custom bg-image"
  style="margin-top: 50px; background-image: url(img/Foto\ 1920x301.png)"
>
  <div class="shell">
    <h1
      class="breadcrumbs-custom__title"
      style="background-color: rgba(0, 0, 0, 0.13);"
    >Dra. Renata Albuquerque</h1>
  </div>
</section>

<!-- About Me-->
<section class="section section-md bg-white">
  <div class="shell">
    <div class="range range-50 range-sm-center range-md-left">
      <div class="cell-sm-6 cell-md-5">
        <div class="thumb-bordered"><img
            src="img/foto 437 x 435.png"
            alt=""
            width="437"
            height="435"
          />
        </div>
      </div>
      <div class="cell-sm-6 cell-md-7">
        <div class="box-width-3 box-centered">
          <article class="quote-big">
            <p class="q" style="color: black;">Um poquinho sobre Dra. Renata Veiga Pellegrini Tenório
              de Albuquerque:</p>
          </article>
          <div class="divider"></div>
          <p class="text-spacing-05" style="color: black;">Graduação e Mestrado pela Universidade
            Federal da Bahia (UFBa)</p>
          <p class="text-spacing-05" style="color: black;">Desde 2013 atuante em clínica geral, com
            vasta experiência em atendimento de cães e gatos</p>
          <p class="text-spacing-05" style="color: black;">Sócia Proprietária da Clínica VillaPet
            Veterinária</p>
          <p class="text-spacing-05" style="color: black;">Professora no Ensino Superior do curso de
            Medicina Veterinária</p>
          <p class="text-spacing-05" style="color: black;">Cursos de Aperfeiçoamento e pós graduação
            em tópicos essenciais da rotina clínica, nefrologia e urologia
            veterinária</p>
        </div>
      </div>
    </div>
  </div>
</section>